@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,100&display=swap");

/*Variables*/
:root {
  --color-principal: #ff6b6b;
  --color-secundario: #4caf50;
  --color-header: #343539;
  --color-capa-main: #232426b9;
  --color-fondo: #fff;
  --black2: rgb(177, 223, 205);
  --shadow: 0 2px 20px;
  --color_shadow: #e2d8d8fd;
  --color-shadow-pri: #ff6b6bd4;
}
/*Selector Universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Raleway", sans-serif;
}

.header {
  width: 100%;
  min-height: auto;
  position: fixed;
  z-index: 20;
}

.header__nav {
  color: var(--color-fondo);
  background-color: var(--color-header);
  height: 70px;
}

.nav__container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__name {
  font-size: 35px;
}

.links {
  text-decoration: none;
}

a.link:hover {
  color: var(--color-principal);
  text-shadow: 2px 2px 20px var(--color-shadow-pri);
}

.link--icon {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 24px;
}

a.link--icon:hover {
  color: #ff6b6b;
  text-shadow: 2px 2px 20px var(--color-shadow-pri);
}

.link--active {
  color: var(--color-fondo);
  background-color: var(--color-principal);
  border-radius: 4%;
  padding: 10px 0px;
  display: inline-block;
  text-decoration: none;
}

a.link--active:hover {
  background-color: var(--color-fondo);
  color: var(--color-principal);
  box-shadow: var(--shadow) var(--color_shadow);
  text-shadow: 2px 2px 20px var(--color-shadow-pri);
}

.span {
  color: var(--color-principal);
  text-shadow: 2px 2px 20px var(--color-shadow-pri);
}

/*Inicio del banner main*/
.main {
  width: 100%;
}

.main__container {
  margin: none;
}

.section__banner {
  background-repeat: no-repeat;
  animation: banner 15s infinite linear alternate;
  background-size: cover;
}

@keyframes banner {
  0%,
  10% {
    background-image: url(../img/bn1.jpg);
  }
  15%,
  25% {
    background-image: url(../img/bn2.jpg);
  }
  30%,
  45% {
    background-image: url(../img/bn7.jpg);
  }
  50%,
  65% {
    background-image: url(../img/bn4.jpg);
  }
  70%,
  85% {
    background-image: url(../img/bn5.jpg);
  }
  90%,
  100% {
    background-image: url(../img/bn6.jpg);
  }
}

/*Establece el sobreposicionamiento de los elementos*/
.main__container__text {
  background: var(--color-capa-main);
  z-index: 1;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Establece el espaciado entre letras*/
.text__title {
  color: var(--color-principal);
  font-size: 50px;
  letter-spacing: 5px;
}

.text__span {
  color: var(--color-fondo);
  font-size: 45px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.text__description {
  color: var(--color-fondo);
  line-height: 1.7;
  margin-bottom: 30px;
  margin: 50px 90px;
}

.text__button {
  width: 150px;
  padding: 10px;
  background: var(--color-principal);
  color: var(--color-fondo);
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.text__button:hover {
  box-shadow: var(--shadow) var(--color-fondo);
  background: var(--color-fondo);
  color: var(--color-principal);
  cursor: pointer;
}

/*aside main*/

.aside__tarjetas {
  display: flex;
}

.aside {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ff6b6b2c;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}

.aside__title {
  text-align: center;
  padding-top: 20px;
  color: var(--color-principal);
  font-size: 35px;
  margin-bottom: 20px;
  position: sticky;
  z-index: 50;
}

.aside__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.aside__ul li {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
}

.aside__ul li:hover {
  text-decoration: none;
  background-color: var(--color-fondo);
  color: var(--color-fondo);
  font-size: 20px;
}

.aside__link {
  text-decoration: none;
  color: var(--color-principal);
  font-size: 25px;
}

/*Diseño de tarjetas*/

.section__cards {
  background: var(--color-fondo);
  width: 100%;
  height: auto;
}

.main__container_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  max-width: 100vw;
}

.card {
  width: 15vw;
  height: 50vh;
  background: #ff6b6b2c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  gap: 5px;
}

.card:hover {
  box-shadow: 4px 4px 20px rgb(128, 128, 128);
  cursor: pointer;
  transform: translateY(-2px);
}

.card__img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.imagenp {
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-principal);
}

.card__subtitle {
  font-size: 15px;
  color: black;
  text-align: center;
  text-transform: lowercase;
}

.card-divider {
  width: 100%;
  border: 1px solid var(--color-shadow-pri);
  border-radius: 50px;
}

.card__price {
  font-size: 15px;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button__footer {
  width: 40px;
  height: 30px;
  border: none;
  background-color: var(--color-principal);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  color: var(--color-fondo);
}

.card__text-color {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.button__footer:hover {
  box-shadow: var(--shadow) var(--color-shadow-pri);
  background: var(--color-fondo);
  color: var(--color-principal);
  cursor: pointer;
}

.button__footer:active {
  transform: translateY(3px);
}
